<h1>Cryptozone</h1>
<p>Find me in app/views/sessions/new.html.erb</p>


<h1>Log in</h1>

<%= form_tag '/signin' do %>
 Username: <%= text_field_tag :username %>
 Password: <%= text_field_tag :password %>
 <%= submit_tag 'Sign In' %>
<% end %>
